[".tmux/plugins/tpm"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tpm/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".config/git-completion.bash"]
    type = "file"
    url = "https://raw.githubusercontent.com/git/git/master/contrib/completion/git-completion.bash"
    refreshPeriod = "168h"

[".config/git-prompt.sh"]
    type = "file"
    url = "https://raw.githubusercontent.com/git/git/master/contrib/completion/git-prompt.sh"
    refreshPeriod = "168h"

[".claude/projects/prices.json"]
    type = "file"
    url = "https://raw.githubusercontent.com/BerriAI/litellm/main/model_prices_and_context_window.json"
    refreshPeriod = "24h"

{{- if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
{{-   $arch := "" }}
{{-   if eq .chezmoi.arch "amd64" }}
{{-     $arch = "x86_64" }}
{{-   else if eq .chezmoi.arch "arm64" }}
{{-     $arch = "arm64" }}
{{-   end }}
{{-   if $arch }}

[".local/bin/wsl-keyring"]
    type = "file"
    # renovate: datasource=github-releases depName=nakatanakatana/mytools
    url = "https://github.com/nakatanakatana/mytools/releases/download/v0.3.1/wsl-keyring_Linux_{{ $arch }}"
    executable = true
{{-   end }}
{{- end }}

